[submodule "dbemitter"]
	path = dbemitter
	url = https://github.com/mikeal/dbemitter.git
[submodule "node-xml2js"]
	path = node-xml2js
	url = https://maxogden@github.com/maxogden/node-xml2js.git
[submodule "jFeed"]
	path = jFeed
	url = git://github.com/maxogden/jFeed.git
